button {
    width: 70px;
    height: 70px;
    cursor: pointer;
    border-radius: 12px;
    background-color: #1a1a1a;
    color: white;
    border-style: none;
    transition: border 0.4s ease;
    font-size: 24px;
}

button:hover{
    border: 2px solid #646cff;
}

.guess,
.secondGuess,
.thirdGuess,
.fourthGuess{
    width: 70px;
    height: 70px;
    border-radius: 12px;
    background-color: #3e3e3e;
    color: white;
    border-style: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}

.characters{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 12px;
}

.guessesContainer{
    padding: 24px;
    padding-left: 25%;
}

.firstGuessContainer,
.secondGuessContainer,
.thirdGuessContainer,
.fourthGuessContainer{
    max-width: fit-content;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;

}

*{
    background-color: #2e2e2e;
}